extends ./base.jade

block contents
  link(rel="stylesheet", href="stylesheets/rectangle.css")
  div#rectangle
  div
    canvas#fractal

block scripts
  script(type="text/javascript", src="javascripts/bundle.js")
  script
    | testUI()
